<h4 class="text-center m-3 mb-4">Factuur</h4>

<div class="row">
  <div class="col-4">
    <div class="row mb-5">
      <div class="col">
        <div class="row mb-3">
          <div class="col">
            <h6 class="text-center">Klant</h6>
          </div>
          <div class="col">
            <button
              class="btn btn-sm btn-info"
              (click)="open(chooseClientModal)"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="invoice.client == null">
          <div class="col">
            <i>Geen klant geselecteerd</i>
          </div>
        </div>
        <div class="row" *ngIf="invoice.client">
          <div class="col">
            <p class="m-0">{{ invoice.client.name }}</p>
            <p class="m-0">
              {{ invoice.client.address }},
              {{ invoice.client.city.postalCode }}
              {{ invoice.client.city.city }}
            </p>
            <p class="m-0" *ngIf="invoice.client.btwNumber">
              {{ invoice.client.btwNumber }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">Notities + extra info</div>
    </div>
    <div class="row">
      <div class="col">
        <p class="fw-bold">Totalen</p>
        <p>
          <span class="fw-bold">Totaal ex. btw: </span>
          {{ calculateTotalExBtw() | currency: "€ " }}
        </p>
        <p>
          <span class="fw-bold">Btw: </span>
          {{ calculateTotalInclBtw() - calculateTotalExBtw() | currency: "€ " }}
        </p>
        <p>
          <span class="fw-bold">Totaal incl. btw: </span>
          {{ calculateTotalInclBtw() | currency: "€ " }}
        </p>
      </div>
    </div>
  </div>
  <div class="col border-start border-1">
    <div class="row mb-3 pb-3 border-bottom border-1">
      <div class="col">
        <label class="form-label" for="dp">Factuur #</label>
        <input
          type="text"
          disabled
          [value]="'FACT-' + invoice.id"
          class="form-control"
        />
      </div>
      <div class="col">
        <label class="form-label" for="dp">Factuur datum</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="invoice.docDate"
            (ngModelChange)="updateExpireDate()"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          >
            <i class="bi bi-calendar-date"></i>
          </button>
        </div>
      </div>
      <div class="col">
        <label class="form-label" for="dp">Betaalwijze</label>
        <select class="form-control">
          <option>FCTR - 30 Dagen</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="dp">Vervaldag</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="invoice.expireDate"
            ngbDatepicker
            disabled
            #d2="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d2.toggle()"
            type="button"
            disabled
          >
            <i class="bi bi-calendar-date"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row header border-bottom border-1 pb-1 mb-3 fw-bold">
      <div class="col">
        <p>Omschrijving</p>
      </div>
      <div class="col">
        <p>Aantal</p>
      </div>
      <div class="col">
        <p>Prijs</p>
      </div>
      <div class="col">
        <p>Korting %</p>
      </div>
      <div class="col">Bedrag ex. btw</div>
      <div class="col">
        <p>Btw</p>
      </div>
    </div>
    <div
      class="row border-bottom border-1 mb-3"
      *ngFor="let line of invoice.lines"
    >
      <div class="col">
        <p>
          <span *ngIf="line.customArticleDescription">{{
            line.customArticleDescription
          }}</span>
          <span
            *ngIf="!line.customArticleDescription && !line.article!.description"
          >
            {{ line.article!.name }}
          </span>
          <span
            *ngIf="!line.customArticleDescription && line.article!.description"
          >
            {{ line.article!.description }}
          </span>
        </p>
      </div>
      <div class="col">
        <p>{{ line.amount }}&nbsp;{{ line.article!.unit }}</p>
      </div>
      <div class="col">
        <p>
          <span *ngIf="line.customArticlePrice">
            {{ line.customArticlePrice | currency: "€ " }}
          </span>
          <span *ngIf="!line.customArticlePrice">
            {{ line.article!.price | currency: "€ " }}
          </span>
        </p>
      </div>
      <div class="col">
        <p>
          {{ line.discountPercentage / 100 | percent }}
        </p>
      </div>
      <div class="col">
        <p>
          {{ calculateAmountExBtw(line) | currency: "€ " }}
        </p>
      </div>
      <div class="col">
        <p>
          {{
            calculateAmountExBtw(line) * (line.article!.btwPercentage / 100)
              | currency: "€ "
          }}
        </p>
      </div>
    </div>
    <p
      class="text-center m-5"
      *ngIf="!invoice || !invoice.lines || invoice.lines.length == 0"
    >
      Nog geen lijnen
    </p>
    <div class="row">
      <div class="col text-center">
        <button
          class="btn rounded-pill btn-success"
          title="lijn toevoegen"
          (click)="selectedLine = copy(emptyLine); open(createLineModal)"
        >
          <i class="bi bi-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #createLineModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Factuur lijn</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">iets toevoegen</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="updateLine(); modal.close('Save click')"
    >
      Opslaan
    </button>
  </div>
</ng-template>

<!-- ChooseClient Modal -->
<ng-template #chooseClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nieuwe categorie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="clients">Kies klant</label>
        <select
          id="dateOfBirth"
          type="text"
          [(ngModel)]="selectedClientId"
          (change)="updateSelectedClient()"
          class="form-control"
          name="clients"
        >
          <option [value]="-1" style="font-style: italic">
            Geen klant geselecteerd
          </option>
          <option *ngFor="let client of clients" [value]="client.id">
            {{ client.name }}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="chooseClient(); modal.close('Save click')"
    >
      Opslaan
    </button>
  </div>
</ng-template>
