<h4 class="text-center m-3 mb-4">Facturen</h4>

<div class="container mw-100">
  <div class="form-group row">
    <input
      type="text"
      *ngIf="invoices && originalInvoices && originalInvoices.length > 0"
      class="form-control col-3"
      [(ngModel)]="search"
      (keydown)="filter()"
      placeholder="Filter"
    />
    <div class="col"></div>
    <button class="col-2 btn btn-success mr-3" [routerLink]="['nieuw']">
      Nieuwe factuur
    </button>
  </div>
</div>

<div class="row fw-bold mt-4 pb-2 border-bottom border-1">
  <div class="col">Factuur #</div>
  <div class="col">Klant</div>
  <div class="col">Factuurdatum</div>
  <div class="col">Vervaldatum</div>
  <div class="col">Totaal excl. btw</div>
  <div class="col">Totaal incl. btw</div>
  <div class="col"></div>
</div>
<div
  class="row my-2 border-bottom border-1"
  *ngFor="let invoice of invoices | sort: 'id'"
>
  <div class="col">
    <a [routerLink]="['/facturen/' + invoice.id]">
      <p>{{ invoice.id }}</p>
    </a>
  </div>
  <div class="col">
    <p>{{ invoice.client?.name }}</p>
  </div>
  <div class="col">
    <p>{{ invoice.docDate | date: "dd MMM yyyy" }}</p>
  </div>
  <div class="col">
    <p>{{ invoice.expireDate | date: "dd MMM yyyy" }}</p>
  </div>
  <div class="col">
    <p>{{ calculateTotalExBtw(invoice) | currency: "€ " }}</p>
  </div>
  <div class="col">
    <p>{{ calculateTotalInclBtw(invoice) | currency: "€ " }}</p>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-auto">
        <button
          class="btn btn-info py-0 w-100"
          (click)="printInvoice(invoice.id)"
        >
          <i class="bi bi-printer"></i>
        </button>
      </div>
      <div class="col-auto">
        <button
          class="btn py-0 w-100"
          [class]="invoice.paid ? 'btn-success' : 'btn-danger'"
          [title]="invoice.paid ? 'Is betaald' : 'Nog te betalen'"
          (click)="togglePaid(invoice)"
        >
          <i *ngIf="invoice.paid" class="bi bi-check-square"></i>
          <i *ngIf="!invoice.paid" class="bi bi-x-square"></i>
        </button>
      </div>
    </div>
  </div>
</div>
