<h4 class="text-center m-4 mb-5">Producten</h4>

<div
  class="container mw-100"
  *ngIf="articles && originalArticles && originalArticles.length > 0"
>
  <div class="form-group row">
    <input
      type="text"
      class="form-control col-3"
      [(ngModel)]="search"
      (keydown)="onSort(currentSorting, $event)"
      placeholder="Filter"
    />
  </div>
</div>

<div class="row">
  <div class="col scrollableTable">
    <table
      class="table table-striped"
      *ngIf="articles && articles.length > 0; else loading"
    >
      <thead>
        <tr>
          <th scope="col" articleSortable="name" (sort)="onSort($event)">
            Naam
            <i
              *ngIf="
                currentSorting &&
                currentSorting.column == 'name' &&
                currentSorting.direction == 'asc'
              "
              class="bi bi-sort-alpha-down"
            ></i>
            <i
              *ngIf="
                currentSorting &&
                currentSorting.column == 'name' &&
                currentSorting.direction == 'desc'
              "
              class="bi bi-sort-alpha-up-alt"
            ></i>
          </th>
          <th scope="col" articleSortable="price" (sort)="onSort($event)">
            Prijs
            <i
              *ngIf="
                currentSorting &&
                currentSorting.column == 'price' &&
                currentSorting.direction == 'asc'
              "
              class="bi bi-sort-numeric-down"
            ></i>
            <i
              *ngIf="
                currentSorting &&
                currentSorting.column == 'price' &&
                currentSorting.direction == 'desc'
              "
              class="bi bi-sort-numeric-up-alt"
            ></i>
          </th>
          <th scope="col">Eenheid</th>
          <th scope="col" *ngIf="!selectedArticle">Btw %</th>
          <th scope="col" *ngIf="!selectedArticle">Categorie</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let article of articles"
          (click)="selectedArticle = copy(article)"
          [class]="{
            selected: selectedArticle && article.id == selectedArticle.id
          }"
        >
          <td>
            {{ article.name | trim }}
          </td>
          <td>
            {{ article.price | currency: "EUR" }}
          </td>
          <td>
            {{ article.unit }}
          </td>
          <td *ngIf="!selectedArticle">
            {{ article.btwPercentage / 100 | percent }}
          </td>
          <td *ngIf="!selectedArticle">
            <span *ngIf="article.category">{{ article.category.name }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col" *ngIf="selectedArticle">
    <app-update-article
      [article]="selectedArticle"
      (exit)="selectedArticle = undefined"
      (update)="updateArticle($event)"
    ></app-update-article>
  </div>
</div>

<ng-template #loading>
  <h5 *ngIf="articles == null; else empty" class="text-center">
    De klanten worden opgehaald...
  </h5>
</ng-template>

<ng-template #empty>
  <h5 class="text-center">Geen klanten gevonden.</h5>
</ng-template>
