<div class="row newItem">
  <div class="col-auto newItemChild">
    <h2>Dashboard</h2>
  </div>
  <div class="col-1 mt-3 dd">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-muted years"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ selectedYear }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let year of availableYears | sort"
          ngbDropdownItem
          (click)="updateSelectedYear(year)"
          [disabled]="year == selectedYear"
        >
          {{ year }}
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-4"></div>
      <div class="col hover">
        <div class="itemBtn" [routerLink]="['/facturen/nieuw']">
          <i class="bi bi-file-earmark-plus" style="font-size: 2rem"></i>
          <p>Factuur</p>
        </div>
      </div>
      <div class="col hover">
        <div class="itemBtn">
          <i class="bi bi-file-earmark-plus" style="font-size: 2rem"></i>
          <p>Klant</p>
        </div>
      </div>
      <div class="col hover">
        <div class="col itemBtn onhover">
          <i class="bi bi-file-earmark-plus" style="font-size: 2rem"></i>
          <p>Product</p>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{ testMessage }}</p>
  </div>
</div>
