<div class="row">
  <div class="col-auto">
    <h2>Dashboard</h2>
  </div>
  <div class="col-1">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-muted"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ selectedYear }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          *ngFor="let year of availableYears | sort"
          ngbDropdownItem
          (click)="updateSelectedYear(year)"
          [disabled]="year == selectedYear"
        >
          {{ year }}
        </button>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <p>{{ testMessage }}</p>
  </div>
</div>
